.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}

.contactsTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(193, 239, 0, 1);
    margin-bottom: 12px;
}

.stayInTouch {
    height: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: white;
    margin-bottom: 60px;
}

.linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}

.telegramLink {
    width: 436px;
    max-width: 100%;
    height: 109px;
    background-color: white;
    border-radius: 14px;
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 0.3s;
    text-decoration: none !important;
}

.telegramLink:hover {
    background-color: rgba(193, 239, 0, 1);
    opacity: 0.9;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-decoration: none !important;
}

.linkText {
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 24px;
    transition: all 0.3s;
}

@media (max-width: 768px) {

    .linksContainer {
        padding: 0 16px;
    }

    .telegramLink {
        width: 100%;
    }

    .stayInTouch {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 40px;
    }
}

@media (max-width: 499px) {
    .contactsTitle {
        font-size: 12px;
        line-height: 24px;
    }

    .stayInTouch {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .telegramLink {
        height: 68px;
    }

    .linkText {
        font-size: 18px;
    }

    .telegramLink img {
        width: 24px;
        height: 21;
    }
}

@media (max-width: 414px) {
    .stayInTouch {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 20px;
    }

    .linkText {
        font-size: 12px;
    }
}