:root {
  --bg: rgba(28, 28, 29, 1);
  --color: rgba(20, 20, 21, 1);
  --green: rgba(193, 239, 0, 1)
}


html,
body {
  max-width: 100%;
  color: white;
  background-color: var(--bg);

  font-family: Arial, sans-serif;

}

body {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}