.aside {
    position: fixed;
    height: 100%;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color);
    padding: 30px 0px;

    gap: 50px;
    z-index: 900px;

    @media (max-width: 768px) {
        width: 70px;
    }

    @media (max-width: 600px) {
        display: none;
    }
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.link {
    cursor: pointer;
}